<div class="background">
	<div class="menu">
		<%= content_tag(:h2, "новая задача") %><hr>
		<%= form_with scope: :todos, url: todos_create_path, local: true, id:"create_todo_form" do |form| %>
			<%= text_field(:todo, :text, :placeholder => ' Название задачи...',:class => 'nameinput')%>
			<%= select_tag("selected_project", options_from_collection_for_select(@projects, :id, :title, "Категория"), :id => 'selection', :class => 'selection')%>
			<%= link_to('отмена', '#', :id => 'link_close', :class => 'link_close')%>
			<%= link_to('ок', '#', :id => 'link_create', :class => 'link_create')%>
		<%end%>
	</div>
</div>
<div class = "header">
	<h1 class = "title"> Задачи</h1>
	<div class="obla4ki">
		<%= image_tag("clouds0.png", :alt => "", :class => "obla4ki1") %>
		<%= image_tag("clouds1.png", :alt =>"", :class => "obla4ki2") %>
		<%= image_tag("clouds2.png", :alt => "", :class => "obla4ki3") %>
		<%= image_tag("clouds3.png", :alt => "", :class => "obla4ki4") %>
		<%= image_tag("clouds4.png", :alt => "", :class => "obla4ki5") %>
	</div>
	<%= link_to(image_tag('addTodoIcon.png'), '#', :id => 'btn_plus', :class => 'btn_plus')%>
</div>
<div class="container-fluid">
	<% @projects.each do |project| %>
		<div class=" col-lg-4 col-md-6 col-xs-12" style="padding: 15px">
			<div class="projects_block">
				<%= content_tag(:h3, project.title) %><hr>
				<% project.todos.sort.each do |todo|%>
					<div class="todos">
						<%= form_with scope: :todos, url: todos_update_path, local: true, class: "projects_form" do |form| %>
							<%= check_box_tag(todo.id,  todo.isCompleted)%>
							<%= hidden_field_tag(:isCompleted, !todo.isCompleted)%>
							<%= submit_tag(todo.id, class: "submit", :style => "display: none", id: "submit_"+todo.id.to_s) %>
							<%= content_tag(:label, todo.text, id:"todo_text_"+todo.id.to_s, class: "todo_text", for: todo.id) %>
						<%end%>
					</div>
				<%end%>
			</div>
		</div>
	<%end%>
</div>
<div class="fixed"> I really wanna work in OblakoGroup®</div>
